<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Group of group Suite" verbose="1">
  <test name="Test One">
    <groups>
      <run>
        <include name="in" />
        <exclude name="ex" />
      </run>
    </groups>
    <classes>
      <class name="com.fusioncharts.main.APITest"></class>
    </classes>
  </test>
</suite>